.ui-grid-a .ui-block-a { width: 25%; padding-top: 10px;}
.ui-grid-a .ui-block-b { width: 65%; height: 40px; align: left; padding: 5px; margin-right: 8px } 
.geo {
  margin-right: 15px;
  margin-top: 15px
}
